# 排除编辑器一些配置文件
.idea


# 排除编译产生的文件
dist/
**/dist/
.next
.vercel



# 排除node_modules
node_modules/
**/node_modules/


# 排除  pnpm install -D unplugin-vue-components unplugin-auto-import  自动生产引入的代码
auto-imports.d.ts
components.d.ts
